@import "tailwindcss";

:root {
  --background: #02000F;
  --foreground: #171717;
  --cp: #6E44FF;
  --cs: #B29CFF;
  --ct: #4B2FA3;
  --cq: #CCCCCC;
  --gray: #F1F1F1;
}

body { 
  background: var(--background);
  overflow-x: hidden;
}
